@font-face {
  font-family: InterFont;
  src: url(./assets/fonts/Inter-Bold.ttf);
}   

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  font-family: InterFont;
}

.background {
  position: absolute;
  background: conic-gradient(from 167.75deg at 26.05% 40.64%, rgba(207, 238, 187, 0.881587) -18.97deg, #ABE1C9 8.74deg, #80CDD7 160.76deg, #7C9CE5 225.35deg, rgba(126, 163, 230, 0.22) 298.84deg, rgba(207, 238, 187, 0.881587) 341.03deg, #ABE1C9 368.74deg);
  filter: blur(120px);
  width: 1200px;
  height: 600px;
  z-index: -1;
}

.page {
  background-color: white;
  border-radius: 16px;
  padding: 38px;
  display: flex;
  flex-direction: column;
}

.page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  margin-bottom: 20px;
  display: flex;
}

.city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-passengers {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 40px;
}